.ts-label {
  font-weight: 500;
  color: #333;
  margin-bottom: 3px;
  display: block;
}
.ts-input, .ts-slider {
  width: 100%;
  padding: 8px 10px;
  border-radius: 7px;
  border: 1px solid #dbe6e4;
  font-size: 1em;
  margin-bottom: 4px;
}
.ts-slider {
  padding: 0;
  margin: 0;
}
.talentsearch-main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
